<div class="container">

<h1>Doug Rosenberg Dev</h1>
<h2>Bio</h2>
<p>Full-stack .NET/Angular developer with DevOps background. Passionate about .NET/C#, Cloud Computing (both Azure/AWS), Angular/React, and working with a good team. Independent learner that enjoys pithy challenges. Lots of experience working with a variety of clients in coordinating details and managing logistics. Looking forward to my new career creating value for a company. My Github repo is filled with more than 200 projects, and that is my strongest suit.</p>
<address>Contact: <a href="mailto:doug.rosenberg.com"></a> doug.rosenberg@gmail.com</address>
<br>
<p><a href="https://github.com/shalant">Github: https://github.com/shalant</a></p>
<br>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
    <td mat-cell *matCellDef="let tech"> {{tech.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tech"> Technology </th>
    <td mat-cell *matCellDef="let tech"> {{tech.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category"> Category </th>
    <td mat-cell *matCellDef="let tech"> {{tech.category}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by icon"> Icon </th>
    <td mat-cell *matCellDef="let tech"><i class='{{tech.icon}}'></i> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons 
aria-label="Select page of periodic elements">
</mat-paginator>


<!-- <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page">
</mat-paginator> -->


<!-- <div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div> -->

</div>