table {
  width: 100%;
  }
  
th {
  font-weight: bold;
  font-size: larger;
}

.mat-form-field {
  margin-right: 12px;
}
  
.mat-row:nth-child(even){
  background-color: rgb(250, 250, 250);
}
        
.mat-row:nth-child(odd){
  background-color: rgb(240, 240, 240);
}